<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DESI</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/adicionales.css">
	<link rel="icon" href="/img/favicon.ico">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body class="bg-light">

	<header class="container-fluid bg-primary text-white d-flex align-items-center justify-content-between">
		<div class="container">
			<div class="row">
				<div class="col-auto">
					<h3>Desarrollo de Sistemas de Información (DESI)</h3>
				</div>
				<div class="col-auto">
					<img src="/img/logoUTN.png" alt="Logo UTN" style="max-width: 200px;">
				</div>
			</div>
		</div>
	</header>

	<nav class="navbar navbar-expand-lg navbar-light bg-white">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="programarvuelo.html">Programar vuelo</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="tasasimpositivas.html">Tasas impositivas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="listarvuelos.html">Listar vuelos programados</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<main class="container mt-4">
		<form>
			<div class="form-group">
				<label for="numeroVuelo" class="font-weight-bold">Número de vuelo:</label>
				<input type="text" class="form-control" id="numeroVuelo" placeholder="Número de vuelo"
					style="max-width: 200px;">
			</div>

			<div class="row gx-5">
				<div class="form-group col-md-6 d-flex mb-3 ">
					<label for="origen" class="col col-form-label">Origen:</label>
					<select id="origen" class="form-control col">
						<!-- Aquí debes cargar la lista de ciudades desde la base de datos -->
						<option>Ciudad 1</option>
						<option>Ciudad 2</option>
						<!-- Agrega más opciones según sea necesario -->
					</select>
				</div>
				<div class="form-group col-md-6 d-flex mb-3 ">
					<label for="destino" class="col col-form-label">Destino:</label>
					<select id="destino" class="form-control col">
						<!-- Aquí debes cargar la lista de ciudades desde la base de datos -->
						<option>Ciudad 1</option>
						<option>Ciudad 2</option>
						<!-- Agrega más opciones según sea necesario -->
					</select>
				</div>
			</div>

			<!-- Primer bloque -->
			<div class="row gx-5">
				<div class="form-group col-md-6 d-flex mb-3">
					<label for="tipoVuelo" class="col col-form-label">Tipo de vuelo:</label>
					<input type="text" class="form-control col" id="tipoVuelo" placeholder="Ingrese el tipo de vuelo">
				</div>
				<div class="form-group col-md-6 d-flex mb-3">
					<label for="precioPasaje" class="col col-form-label">Precio del pasaje:</label>
					<input type="text" class="form-control col" id="precioPasaje"
						placeholder="Ingrese el precio del pasaje">
				</div>
			</div>

			<!-- Segundo bloque -->
			<div class="row gx-5">
				<div class="form-group col-md-6 d-flex mb-3">
					<label for="fechaPartida" class="col col-form-label">Fecha de partida:</label>
					<input type="date" class="form-control col" id="fechaPartida">
				</div>
				<div class="form-group col-md-6 d-flex mb-3">
					<label for="horaPartida" class="col col-form-label">Hora de partida:</label>
					<input type="time" class="form-control col" id="horaPartida">
				</div>
			</div>

			<!-- Tercer bloque -->
			<div class="row gx-5">
				<div class="form-group col-md-6 d-flex mb-3">
					<label for="avion" class="col col-form-label">Avión:</label>
					<input type="text" class="form-control col" id="avion" placeholder="Ingrese el avión">
				</div>
				<div class="form-group col-md-6 d-flex mb-3">
					<label for="capacidadVuelo" class="col col-form-label">Capacidad de vuelo:</label>
					<input type="text" class="form-control col" id="capacidadVuelo" readonly>
				</div>
			</div>


			<button type="submit" class="btn btn-primary">Programar Vuelo</button>
		</form>
	</main>


	<footer class="container-fluid fixed-bottom bg-dark text-white">
		<p class="text-center">Tecnicatura Superior En tecnologías de la información</p>
	</footer>

</body>

</html>